<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
    </settings>

	<typeAliases>
        <package name="com.hjb.jBlog.dto"/>
        <package name="com.hjb.jBlog.admin.dto"/>
    </typeAliases>
    <mappers>
    	<mapper resource="com/hjb/jBlog/admin/mapper/AdminMember.xml"></mapper>
    	<mapper resource="com/hjb/jBlog/admin/mapper/AdminDashBoard.xml"></mapper>
    	<mapper resource="com/hjb/jBlog/admin/mapper/AdminHeader.xml"></mapper>
    	<mapper resource="com/hjb/jBlog/admin/mapper/AdminCategory.xml"></mapper>
        <mapper resource="com/hjb/jBlog/mapper/Member.xml"></mapper>
        <mapper resource="com/hjb/jBlog/mapper/Post.xml"></mapper>
        <mapper resource="com/hjb/jBlog/mapper/Category.xml"></mapper>
        <mapper resource="com/hjb/jBlog/mapper/Log.xml"></mapper>
    </mappers>

</configuration>